.criminal {
    border: 1px solid #ababab;
    margin: 5px;
    box-shadow: 3px 3px grey;
}

.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.crim_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
}

h3 {
    margin: 5px;
}

.criminal {
    flex-basis: 20%;
}