.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.criminal {
    border: 1px solid #ababab;
    padding: 5px;
    box-shadow: 3px 3px grey;
    flex-basis: 20%;
    margin-bottom: 25px;
}

.crim_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 10px;
}

.crim_name__text {
    text-decoration: underline;
    margin: 0px;
}

.alibi_name {
    text-decoration: underline;
}

.alibi_button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.button--note {
    margin-bottom: 5px;
    margin-left: 5px;
}