.notes_area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 50px;
}

.note_component {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}

.note_name {
    margin-top: 0px;
    text-decoration: underline;
}

#button_showNotes {
    margin-top: 45px;
}

.show_button_notes_area {
    margin-bottom: 0px;
}

.note_buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.note_button_delete {
    margin-bottom: 10px;
}

.saveNote {
    margin-top: 10px;
    margin-bottom: 15px;
}

.button--close {
    margin-top: 0px;
    margin-bottom: 15px;
}