.witnessesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.witness {
    border: 1px solid #ababab;
    padding: 5px;
    box-shadow: 3px 3px grey;
    flex-basis: 20%;
    margin-bottom: 25px;
}

.witness_name__text {
    text-decoration: underline;
    margin: 0px;
}

.witness_button {
    margin-bottom: 20px;
}